/* ===========================
   Google Font
=========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Prompt',sans-serif;
    scroll-behavior:smooth;
}

/* ===========================
   Body
=========================== */

body{
    background:#F5F6FA;
    color:#2D3436;
}

/* ===========================
   Navbar
=========================== */

header{
    width:100%;
    position:fixed;
    top:0;
    left:0;
    background:#2D3436;
    box-shadow:0 5px 15px rgba(0,0,0,.15);
    z-index:1000;
}

.navbar{

    width:90%;
    max-width:1200px;

    margin:auto;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:18px 0;

}

.logo{

    font-size:30px;
    font-weight:700;

    color:#FFC107;

}

.navbar ul{

    display:flex;
    list-style:none;

}

.navbar ul li{

    margin-left:35px;

}

.navbar ul li a{

    text-decoration:none;

    color:white;

    font-size:18px;

    transition:.3s;

}

.navbar ul li a:hover{

    color:#FFC107;

}

/* ===========================
   Hero
=========================== */

.hero{

    width:90%;
    max-width:1200px;

    margin:auto;

    min-height:100vh;

    display:flex;
    justify-content:space-between;
    align-items:center;

}

.hero-text{

    flex:1;

}

.hero-text h1{

    font-size:60px;
    color:#FFC107;

}

.hero-text h2{

    font-size:45px;

    margin:15px 0;

}

.hero-text p{

    font-size:20px;

    color:#636E72;

    line-height:1.8;

    margin-bottom:35px;

}

.btn{

    display:inline-block;

    background:#FFC107;

    color:#2D3436;

    text-decoration:none;

    padding:15px 40px;

    border-radius:50px;

    font-size:18px;

    font-weight:bold;

    transition:.3s;

}

.btn:hover{

    background:#2D3436;

    color:white;

    transform:translateY(-5px);

}

/* ===========================
   Hero Image
=========================== */

.hero-image{

    flex:1;

    text-align:right;

}

.hero-image img{

    width:380px;

    border-radius:50%;

    border:8px solid #FFC107;

    box-shadow:0 15px 40px rgba(0,0,0,.25);

    transition:.5s;

}

.hero-image img:hover{

    transform:scale(1.05);

}

/* ===========================
   Responsive
=========================== */

@media(max-width:900px){

.hero{

    flex-direction:column-reverse;

    text-align:center;

    margin-top:120px;

}

.hero-image{

    text-align:center;

    margin-bottom:50px;

}

.hero-image img{

    width:250px;

}

.navbar{

    flex-direction:column;

}

.navbar ul{

    margin-top:20px;

    flex-wrap:wrap;

    justify-content:center;

}

.navbar ul li{

    margin:10px;

}

.hero-text h1{

    font-size:45px;

}

.hero-text h2{

    font-size:35px;

}

}
